/*Header-styles*/
@import url('https://fonts.googleapis.com/css?family=Satisfy');

.logo-img {
    width: 90px;
    display: inline-block;
}

.logo-text {
    font-family: 'Satisfy', cursive;
    color: #F37972; /*base orange*/
    display: inline-block;
}

.flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.hero {
    background-image: url('../img/hero.jpg');
    height: 500px;
    background-position: center;
    background-size: cover;
    padding-top: 40px;
}

.white-text {
    color: #fff;
}

.hero .white-text {
    font-size: 2em;
}

/* Featured section styles. */

.thumbnail {
    padding: 8px 12px;
    background-color: #EDF1F4; /*light grey*/
}
